.sign-up {
	display: flex;
	flex-direction: column;
	width: 380px;

	.title {
		margin: 10px 0;
	}
	@media screen and (max-width: 800px) {
		width: 80vw;
	}
}
@media screen and (max-width: 800px) {
	.signup-btn {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
	}
}
